# alpine :: gitignore

## rule :: macos
.DS_Store

## rule :: nodejs
node_modules/

## rule :: terraform
.terraform/

## rule :: vscode
.vs/
.vs*/

.oktaSecrets
.addressAPIKey
.CommonSecret
.identitySecret